*,
::before,
::after {
  box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
h5,
p,
figure {
    margin: 0;
    padding: 0;
}

ul,
menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}