* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 9px;
  padding-right: 5px;
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
} */

/* img {
  display: block;
  width: 100%;
  height: auto;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
} */

/* ======== Header ============= */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid tomato;
  background: url(img/desk-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 63px;
}

.container {
  max-width: 1440px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9px;
  padding-right: 7px;


  /* @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  } */
}

.menu {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 22px;
}


.header_menu {
  margin-top: 30px;
  margin-bottom: 123px;
}

.menu_text {
  font-size: 14px;
  color: #fff;
  width: 92px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 17px;
  padding: 6.5px 17px;
}

.menu_text:focus {

  background: rgba(26, 25, 21, 0.0001);
  border: 2px solid #FFFFFF;
}


.menu_text:nth-child(2) {
  margin: 0;
}


.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  color: #fff;

}

.header_title {
  line-height: 37px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 12px;
  width: 307px;
  text-align: center;
}

.little_title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 17px;
}

.button {
  background-color: #FF4E50;
  border: 0px;
  padding: 13px 38px;
  border-radius: 30px;
  /* font-family: Montserrat; */
  font-weight: 700;
  font-size: 14px;
  margin-top: 17px;
  margin-bottom: 136px;
  color: #fff;
}

/* ================== main ======================== */

.partner {
  text-align: center;
}

.partner-title {
  margin-bottom: 20px;

}

.partner-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.partner-item {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}

.partner-item-img {
  position: relative;
  margin-bottom: 13px;
}

.bg-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  bottom: 0;
  right: 20%;
  position: absolute;
  border-radius: 50%;
  background-color: #FF4E50;
  outline: 4px solid #FFFFFF;
}

.name-text {
  margin-bottom: 13px;
}

.partner-item-svg {
  fill: #FFFFFF;
}

.other_button {
  background-color: transparent;
  border: 2px solid #FF4E50;
  min-height: 43px;
  min-width: 228px;
  border-radius: 30px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  color: #FF4E50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 37px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 147px;
    padding-right: 151px;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 36px;
    width: 670px;
    height: 40px;
    margin-bottom: 126px;
  }

  .header_menu {
    margin: 0;
  }

  .logo {
    font-size: 20px;
    line-height: 24px;
  }

  .title {
    display: inline-block;
    font-size: 52px;
    line-height: 63px;
    width: 507px;
  }

  .little_title {
    font-size: 25px;
    line-height: 28px;
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
  }

  .partner-item {
    flex-basis: 33.33%;
    width: 230px;
  }


}

@media screen and (min-width: 1440px) {
  .container {
    padding-left: 263px;
    padding-right: 263px;
  }

  .menu {
    width: 94px;
  }

  .partner-list {}

  .partner-item {
    width: 228px;
    height: auto;
    flex-basis: auto;
  }

  .bg-svg {
    right: 36%;
  }
}