.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid tomato;
  background-image: url("../src/img/desk-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 63px;
}
.nav {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 22px;

  &__wrap {
    margin-top: 30px;
    margin-bottom: 123px;

    &__text {
    
      font-size: 14px;
      color: #fff;
      width: 92px;
      height: 40px;
      border: 2px solid transparent;
      border-radius: 17px;
      padding: 6.5px 17px;

      &:hover {
        background: rgba(26, 25, 21, 0.0001);
        border: 2px solid #ffffff;
      }
      &:nth-child(2) {
        margin: 0;
      }
    }
  }
  &__logo{
      font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  color: #fff;
  }
}
.item{
    line-height: 37px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  align-items: center;

  &__title{
    // @extend .font-title;
  font-family: Montserrat;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 12px;
  width: 307px;
  text-align: center;
  }
  &__text{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 17px;
  }
  &__button{
    @extend .button;
  }
}
